
.table{
    display: flex;
    justify-content: center;
    border-color: #eaeaea;

    &__cart{
        width: 65rem;
        border-color: #eaeaea;
        
        &__header{
            background-color: #f7f7f7;
            text-align: center;
            
            tr {
                text-align: center;
            }
            
            th {
                height: 55px;
                text-transform: uppercase;
                font-family: "Quicksand", sans-serif;
            }
        }

        &__body tr td{
            font-family: "Quicksand", sans-serif;
            font-weight: 600;
            text-align: center;
        }
    }
}

.cancelItem{
    color: #6c757d;

    &__icon{
        width: 22px;
        height: 22px;
    }

    :hover{
        color: #cdb4db;
    }
}

#producto{
    text-align: start;
}

#name{
    text-align: start;
}