
.table{
    display: flex;
    justify-content: center;
    border-color: #eaeaea;

    &__cart{
        width: 65rem;
        border-color: #eaeaea;
        
        &__header{
            background-color: #f7f7f7;
            text-align: center;
            
            tr {
                text-align: center;
            }
            
            th {
                height: 55px;
                text-transform: uppercase;
                font-family: "Quicksand", sans-serif;
            }
        }

        &__body tr td{
            font-family: "Quicksand", sans-serif;
            font-weight: 600;
            text-align: center;
        }
    }
}

.cancelItem__button{
    color: #6c757d;
    background-color: transparent;
    border: none;
    
    &__icon{
        width: 22px;
        height: 22px;
    }

    :hover{
        color: #cdb4db;
    }
}

#producto{
    text-align: start;
}

#name{
    text-align: start;
}

.removeAll{
    width: 310px;
    display: flex;
    justify-content: center;

    &__button{
        background-color: transparent;
        border: none;
        color: #6c757d;

        & p{
            text-transform: uppercase;
            font-size: 12px;
        }

        &__icon{
            height: 23px;
            width: 23px;

            &:hover{
                color: #cdb4db;
            }
        }
    }
}

.clearCart{
    width: 60rem;
    height: 44px;
    display: flex;
    border: solid 1px #cdb4db;
    align-items: center;

    &__icon{
        width: 22px;
        height: 22px;
        color: #6c757d;
    }

    &__subtitle{
        font-family: "Quicksand", sans-serif;
        text-transform: uppercase;
        margin: 0;
        color: #777;
        font-size: 1em;
        margin-left: 10px;
    }
}

.backShop{
    font-family: "Quicksand", sans-serif;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: #cdb4db;
    margin-left: 150px;
    background-color: transparent;
    border: solid 1px #cdb4db;
    text-decoration: none;


    &:hover{
        color: white;
        background-color: #cdb4db;
    }
}

.button-{
    width: 36px;
    height: 36px;
    border: solid 1px #e4e4e4;
    background-color: transparent;
    color: #777;
    font-weight: bold;
}

.finalizarCompra{
    width: 31rem;
    border: solid 1px #e4e4e4;

    &--sub{
        font-family: "Quicksand", sans-serif;
        text-align: center;
        background-color: #f7f7f7;
        border-bottom: solid 1px #e4e4e4 ;
        font-size: 1.3em;
        text-transform: uppercase;
    }

    & table{
        width: 25rem;
    }

    & th {
        height: 55px;
        text-transform: uppercase;
        font-family: "Quicksand", sans-serif;
        border-right: solid 1px #e4e4e4;
    }

    & tr {
        text-align: center;
        border-bottom: solid 1px #e4e4e4;
    }

    & td {
        text-align: start;
        font-family: "Quicksand", sans-serif;
        padding-left: 30px;
        font-weight: bold;
    }

    &__box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        
        &__button{
            font-family: 'Quicksand', sans-serif;
            border-radius: 20px;
            font-size: 15px;
            padding: 10px;
            text-transform: uppercase;
            font-weight: 800;
            color: #cdb4db;
            background-color: transparent;
            border: solid 2px #cdb4db;
            width: 250px;
            text-decoration: none;
            text-align: center;

            &:hover{
                color: white;
                background-color: #cdb4db;
            }
        }
    }
}

.box{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 115px;
}