.main{
    text-align: center;

    &--subtitle{
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-style: italic;
    }
    
    &__section{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
    }
}

.cardFlex{
    display: flex;
    justify-content: center;
}