.cardName{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.cardPrice{
    font-weight: 800;
}

button{
    color: #cdb4db;
    background-color: transparent;
    border: solid 2px #cdb4db;
    height: 40px;
    width: 100px;
    font-weight: bold;

    &:hover{
        background-color: #cdb4db;
        color: white;
    }
}