.table{
    display: flex;
    justify-content: center;
    border-color: #eaeaea;

    &__prod{
        width: 65rem;
        border-color: #eaeaea;
        
        &__head{
            background-color: #f7f7f7;
            text-align: center;
            
            tr {
                text-align: center;
            }
            
            th {
                height: 55px;
                text-transform: uppercase;
                font-family: "Quicksand", sans-serif;
            }
        }

        &__body tr td{
            font-family: "Quicksand", sans-serif;
            font-weight: 600;
            text-align: center;
        }
    }
}

#prod{
    width: 250px;
    text-align: start;
}

#name{
    text-align: start;
}

.icon{
    font-size: 20px;
    color: black;

    &:hover{
        color: #cdb4db;
    }
}

.stock{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-transform: uppercase;

    &__add{
        width: 90%;
        display: flex;
        justify-content: flex-end;
    }
}

.iconAdd{
    font-size: 50px;
    color: #cdb4db;
    margin-right: 20px;

    &:hover{
        background-color: #cdb4db;
        color: white;
        border-radius: 30px;
    }
}

.deleteItem{
    border: none;
    background-color: transparent;

    &--icon{
        height: 21px;
        width: 21px;
    }
    
    &:hover{
        color: #cdb4db;
    }
}