.navBar{
    display: flex;
    justify-content: center;


    &__list{
        display: flex;
        align-items: center;
        width: 60rem;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.1em;

        & li{
            padding: 10px;
        }
    }

    &__cart{
        display: flex;
        align-items: center;
        font-size: 1.1em;

        & p {
            margin-right: 30px;
            font-family: 'Quicksand', sans-serif;
        }

        & div {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
}