*{
    list-style: none;
    text-decoration: none;
}

.header{
    border-bottom: solid 1px #e7e7e7;
}

.navBar{
    display: flex;
    justify-content: center;


    &__list{
        display: flex;
        align-items: center;
        width: 60rem;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.1em;

        & a{
            text-decoration: none;
            margin: 10px;
            color: black;

            &:hover{
                font-weight: bold;
                color: #cdb4db;
                background-color: #f3f3f3;
            }
        }
    }

    &__cart{
        display: flex;
        align-items: center;
        font-size: 1.1em;
        width: 12.5rem;
        text-align: center;

        & p {
            margin-right: 30px;
            font-family: 'Quicksand', sans-serif;
        }

        & a{
            text-decoration: none;
        }

        &__cart{
            font-size: 1.5em;
            margin-left: 20px;
        }
    }
}

.linkSelected{
    border-bottom: solid 3px #cdb4db;
}

.cartWidget{
    color: #cdb4db;
    
    &:hover{
        background-color: #f3f3f3;
    }

    &__count{
        color: #cdb4db;
        font-size: 20px;
        text-decoration: none;
        
        &:hover{
            background-color: #f3f3f3;
        }
    }
}

.disable{
    visibility: hidden;
}

.logOut{
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    border: solid 1px #cdb4db;
    color: #cdb4db;
    width: 100px;

    &:hover{
        font-weight: bold;
        color: #cdb4db;
        background-color: #f3f3f3;
    }
}

.logIn{
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    border: solid 1px #cdb4db;
    color: #cdb4db;
    width: 100px;

    &:hover{
        font-weight: bold;
        color: #cdb4db;
        background-color: #f3f3f3;
    }
}