*{
    list-style: none;
    text-decoration: none;
}

.navBar{
    display: flex;
    justify-content: center;


    &__list{
        display: flex;
        align-items: center;
        width: 60rem;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.1em;

        & a{
            text-decoration: none;
            margin: 10px;
            color: black;

            &:hover{
                font-weight: bold;
                color: #0dcaf0;
            }
        }
    }

    &__cart{
        display: flex;
        align-items: center;
        font-size: 1.1em;

        & p {
            margin-right: 30px;
            font-family: 'Quicksand', sans-serif;
        }

        & div {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
}

.linkSelected{
    border-bottom: solid 3px #0dcaf0;;
}