.footer{
    height: 13rem;
    display: flex;
    align-items: center;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/loco-del-sahumerio.appspot.com/o/footer.jpg?alt=media&token=6452e0ad-9dda-4b86-be2c-53d5f7230e2a);
    margin-top: 50px;

    &__flex{
        display: flex;
    }

    &__text{
        display: flex;
        justify-content: center;

        &__box{
            width: 25rem;
        }

        & h2 {
            font-family: "Bebas Neue", cursive;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 3em;
        }

        & p {
            font-family: "Quicksand", sans-serif;
            font-weight: 700;
        }
    }

    &__form{
        display: flex;
        justify-content: center;
        align-items: center;

        &__button{
            height: 50px;
            width: 400px;
            background-color: white;
            border: none;
            color: #777;
            font-family: "Quicksand", sans-serif;
            font-weight: bold;

            &:hover{
                color: #cdb4db;
                border: solid 1px #cdb4db;
            }
        }
    }
}

.footerMap{
    display: flex;
    justify-content: space-evenly;
    background-color: #eae4e9;

    &__links{
        display: flex;
        flex-direction: column;
        width: 33%;

        & a{
            text-align: center;
        }

        &__icons{
            display: flex;
            justify-content: center;

            &--button{
                background-color: transparent;
                border: none;
                font-size: 28px;
                padding: 10px;
                color: #6d6875;

                &:hover{
                    color: #cdb4db;
                }
            }
        }
    }

    &__data{
        width: 33%;
        display: flex;
        justify-content: center;

        &__box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: "Quicksand", sans-serif;
            font-weight: bold;
            color: #6d6875;
        }
        
        & p{
            margin: 0;
            margin-top: 15px;
            
            &:hover{
                color: #cdb4db;
            }
        }

        & button{  
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            font-weight: bold;
            color: #6d6875;

            &:hover{
                color: #cdb4db;
            }
        }
    }

    &__enlaces{
        @extend .footerMap__data__box;
        width: 33%;
        text-align: center;

        & a{
            text-decoration: none;
            color: #6d6875;
            margin-top: 15px;

            &:hover{
                color: #cdb4db;
            }
        }

        & p{
            margin: 0;
            margin: 15px 21px 0 0;
        }
    }
}